Repository openstreetmap/iD, pull requests merged in 2019-02, with the labels that each got.

#5875 Dont snap to non-vertices
  modules/behavior/draw.js
  modules/behavior/draw_way.js
  modules/behavior/hover.js
  modules/modes/drag_node.js
  modules/presets/index.js
Labels: wip

#5884 Disable preset buttons for hidden layers
  css/80_app.css
  data/core.yaml
  dist/locales/en.json
  modules/renderer/features.js
  modules/ui/preset_list.js
Labels: usability

#5894 Create preset for amenity=photo_booth #5892
  data/presets/presets/amenity/photo_booth.json
Labels: preset

#5920 Excrement Bag Dispenser: improve name and remove unnecessary fields
  data/presets/presets/amenity/vending_machine/excrement_bags.json
Labels: preset

#5940 Presets for LGBTQ+ venues
  data/presets.yaml
  data/presets/presets.json
  data/presets/presets/amenity/bar/lgbtq.json
  data/presets/presets/amenity/community_centre/lgbtq.json
  data/presets/presets/amenity/nightclub/lgbtq.json
  data/presets/presets/amenity/pub/lgbtq.json
  data/presets/presets/shop/erotic/lgbtq.json
  data/taginfo.json
  dist/locales/en.json
Labels: preset
