Repository openstreetmap/iD, pull requests merged in 2019-05, with the labels that each got.

#6376 Flag routing islands
  CHANGELOG.md
  data/core.yaml
  dist/locales/en.json
  modules/validations/disconnected_way.js
  modules/validations/impossible_oneway.js
  test/spec/validations/disconnected_way.js
Labels: validation

#6386 Allow user to adjust the threshold for the unsquare building warning
  css/80_app.css
  modules/actions/orthogonalize.js
  modules/core/validator.js
  modules/ui/issues.js
  modules/validations/unsquare_way.js
  test/spec/core/validator.js
Labels: validation

#6352 Add filter building:part and indoor
  API.md
  data/core.yaml
  dist/locales/en.json
  modules/renderer/features.js
Labels: api, usability

#6113 Selected feature contextual toolbar
  css/80_app.css
  modules/modes/select.js
  modules/ui/tools/index.js
  modules/ui/tools/operation.js
  modules/ui/top_toolbar.js
Labels: usability
