Repository openstreetmap/iD, pull requests merged in 2020-10, with the labels that each got.

#8040 added hot spring preset
  data/presets.yaml
  data/presets/presets.json
  data/presets/presets/hot_spring.json
  data/taginfo.json
  dist/locales/en.json
Labels: preset

#8039 Added Lounger preset
  data/presets.yaml
  data/presets/presets.json
  data/presets/presets/lounger.json
  data/taginfo.json
  dist/locales/en.json
Labels: preset

#8038 added morgue preset
  data/presets.yaml
  data/presets/presets.json
  data/presets/presets/mortuary.json
  data/taginfo.json
  dist/locales/en.json
Labels: preset

#7752 Fix a lot of typos and initial codespell action run
  .github/workflows/codespell.yml
  data/presets/presets/amenity/kindergarten.json
  data/presets/presets/building/farm_auxiliary.json
  data/presets/presets/building/kindergarten.json
  data/presets/presets/shop/video.json
  data/presets/presets/tourism/artwork/graffiti.json
  modules/validations/almost_junction.js
  modules/validations/impossible_oneway.js
  test/spec/geo/geo.js
  test/spec/osm/lanes.js
  test/spec/services/taginfo.js
Labels: chore

#8013 Added clubhouse preset
  data/presets/presets/golf/clubhouse.json
Labels: preset

#7847 Filtering for photo overlay layers
  css/80_app.css
  data/core.yaml
  dist/locales/en.json
  modules/renderer/photos.js
  modules/services/mapillary.js
  modules/services/openstreetcam.js
  modules/services/streetside.js
  modules/svg/mapillary_images.js
  modules/svg/openstreetcam_images.js
  modules/svg/streetside.js
  modules/ui/sections/photo_overlays.js
  test/spec/services/mapillary.js
  test/spec/services/openstreetcam.js
Labels: streetlevel

#8076 Photo filtering repost
  API.md
  css/80_app.css
  data/core.yaml
  dist/locales/en.json
  modules/renderer/photos.js
  modules/services/mapillary.js
  modules/services/openstreetcam.js
  modules/services/streetside.js
  modules/svg/mapillary_images.js
  modules/svg/openstreetcam_images.js
  modules/svg/streetside.js
  modules/ui/sections/photo_overlays.js
  test/spec/services/mapillary.js
  test/spec/services/openstreetcam.js
Labels: streetlevel
