Repository openstreetmap/iD, pull requests merged in 2020-01, with the labels that each got.

#7204 Add field for segregated=*
  data/presets.yaml
  data/presets/fields.json
  data/presets/fields/segregated.json
  data/presets/presets.json
  data/presets/presets/highway/cycleway/bicycle_foot.json
  data/taginfo.json
  dist/locales/en.json
Labels: preset

#7024 Drag and drop of semicombos
  modules/ui/fields/combo.js
Labels: field

#7262 Raw tag editor for multiple select features (2.x)
  css/80_app.css
  data/core.yaml
  dist/locales/en.json
  modules/modes/select.js
  modules/ui/entity_editor.js
  modules/ui/inspector.js
  modules/ui/preset_list.js
  modules/ui/raw_tag_editor.js
  modules/ui/selection_list.js
  modules/ui/sidebar.js
  modules/util/array.js
  modules/util/index.js
  test/spec/ui/raw_tag_editor.js
Labels: new-feature

#7306 Enable field editing in multiselection
  css/80_app.css
  data/core.yaml
  dist/locales/en.json
  modules/presets/field.js
  modules/ui/entity_editor.js
  modules/ui/field.js
  modules/ui/fields/access.js
  modules/ui/fields/address.js
  modules/ui/fields/check.js
  modules/ui/fields/combo.js
  modules/ui/fields/cycleway.js
  modules/ui/fields/input.js
  modules/ui/fields/lanes.js
  modules/ui/fields/localized.js
  modules/ui/fields/maxspeed.js
  modules/ui/fields/radio.js
  modules/ui/fields/restrictions.js
  modules/ui/fields/textarea.js
  modules/ui/fields/wikidata.js
  modules/ui/fields/wikipedia.js
  modules/ui/form_fields.js
  modules/ui/preset_editor.js
  modules/ui/preset_list.js
  modules/ui/raw_tag_editor.js
  modules/util/index.js
  modules/util/util.js
  test/spec/ui/fields/wikipedia.js
Labels: new-feature
