Repository openstreetmap/iD, pull requests merged in 2022-01, with the labels that each got.

#8907 [Issue8906] Fix broken html in the Area part of the Walkthrough
  modules/core/context.js
  modules/ui/intro/area.js
Labels: bug

#8912 [Issue8871] Do not open disabled localized combobox when clicking on it
  CHANGELOG.md
  modules/ui/combobox.js
  modules/ui/fields/localized.js
Labels: bug, field

#8889 Remove accidental mismatch of "PAMAP"
  modules/validations/incompatible_source.js
Labels: bug, validation
