Repository openstreetmap/iD, pull requests merged in 2023-05, with the labels that each got.

#9637 fix tag values with spaces causing css bugs
  CHANGELOG.md
  modules/svg/tag_classes.js
Labels: bug, map-renderer

#9650 Offer to connect sidewalk to service road without tagging crossing
  CHANGELOG.md
  data/core.yaml
  modules/validations/crossing_ways.js
Labels: validation

#9630 Add address format for Phillipines
  data/address_formats.json
Labels: localization

#9536 Take regional variants of parent presets into account when resolving preset fields
  CHANGELOG.md
  modules/actions/change_preset.js
  modules/modes/add_area.js
  modules/modes/add_line.js
  modules/modes/add_point.js
  modules/presets/index.js
  modules/presets/preset.js
  modules/ui/fields/localized.js
  modules/ui/sections/preset_fields.js
Labels: preset, localization

#9433 Add support for icons on multiCombo/semiCombo fields
  CHANGELOG.md
  css/80_app.css
  modules/ui/fields/combo.js
  test/spec/presets/field.js
Labels: usability, field

#9603 Support addr:place tag in Address field
  CHANGELOG.md
  css/80_app.css
  data/address_formats.json
  modules/services/streetside.js
  modules/ui/fields/address.js
Labels: field

#9673 Add Hungarian address format
  data/address_formats.json
Labels: localization

#9667 Support Latvian address scheme
  data/address_formats.json
Labels: localization
