Repository openstreetmap/iD, pull requests merged in 2025-08, with the labels that each got.

#11300 fix: allow 0 as input value in layer tag
  modules/ui/fields/radio.js
Labels: bug

#9678 Add YoHours button to recurring schedule fields
  data/core.yaml
  modules/ui/fields/index.js
  modules/ui/fields/input.js
Labels: field

#11304 fix layer buttons broken
  modules/ui/fields/radio.js
Labels: bug-release-blocker

#11303 migrate build scripts from CJS to ESM
  config/envs.js
  config/esbuild.config.js
  config/esbuild.config.min.js
  eslint.config.js
  package.json
  scripts/build_css.js
  scripts/build_data.js
  scripts/language_names.js
  scripts/server.js
  scripts/update_imagery.js
  scripts/update_locales.js
  test/spec_helpers.ts
  tsconfig.json
  vitest.config.ts
Labels: chore-build

#11319 Add Korean phone number format
  CHANGELOG.md
  data/phone_formats.json
Labels: localization

#11332 configure preview deployments for Pull Requests
  .github/workflows/build.yml
  .github/workflows/deploy-pr-preview.yml
  CHANGELOG.md
  package-lock.json
  package.json
  scripts/pr_preview.js
Labels: chore-build

#11141 Integrate indexeddb for history and prefs sync with server
  modules/core/context.js
  modules/core/history.js
  modules/core/preferences.js
  package-lock.json
  package.json
  test/spec/core/history.js
  test/spec_helpers.ts
Labels: performance

#11334 enhance "incompatible source" warnings for changesets
  CHANGELOG.md
  data/core.yaml
  modules/ui/changeset_editor.js
  modules/ui/commit.js
  modules/validations/incompatible_source.js
Labels: validation
